{% extends 'base.html' %}
{% block title %}Boggle{% endblock %}
{% block content %}
<div class="container justify-content-center">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Boggle</th>
            </tr>
        </thead>
        <tbody class="container-fluid">
            {% for row in board%}
                <tr class="row">
                    {% for cell in row%}
                    <td class="col">{{cell}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <form method="POST" id="guess-form">
        <input name="guess" id="guess">
        <button>Submit</button>
    </form>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Was my guess correct?</h2>
                <p class="message"></p>
            </div>
            <div class="col">
                <h2>Correct words</h2>
                <p class="words"></p>
            </div>
            <div class="col">
                <h2>Current score</h2>
                <p class="score"></p>
            </div>
            <div class="col">
                <h2>Time left</h2>
                <p class="time"></p>
            </div>
        </div>
    </div>
{% endblock %}